
body{

    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/ext;
    background-size: 100%;
}
h1{
font-family: Tahoma;
}
.btn1 {
    margin-left: 40%;
    border-radius: 15px;
border-radius: 15px 15px;
border-radius: 15px 15px 15px;
border-radius: 15px 15px 15px;
-moz-border-radius: 15px; /*Firefox*/
-webkit-border-radius: 15px;  /*Chrome và Safary*/
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin-top: 5%;
   width: 250px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .btn1:hover {
    background-color: #008CBA;
    color: white;
  }
.dl{
    margin-top: 10%;
   

}
#tk{
    border-radius: 10px;
border-radius: 10px 10px;
border-radius: 10px 10px 10px;
border-radius: 10px 10px 10px;
    border: 2px solid #008CBA;

    background-color: white; 
    color: #008CBA; 
}
#tk:hover{
    color: #fff;
    background-color: #008CBA;
    border-color: #008CBA;
}
#tk:focus{
    box-shadow: 0 0 0 0.25rem rgb(42 182 228 / 50%);
}
#btn2{
    margin-left: 5%;
}
#message{
    margin-left: 0%;
    font-size: 20px;
    margin-top: 5px;
}
#ndl{
    margin-left: 38%;
}


.btn1:hover {
    color: #fff;
    background-color: #008CBA;
    border-color: #008CBA;
}
.btn1:focus{
    box-shadow: 0 0 0 0.25rem rgb(42 182 228 / 50%);
}
h1{
    text-align: center;
    font-family: 'Mali', cursive;
    color: black;
 
    font-family: 'Recursive', sans-serif;
}
.cb{
    text-align: center;
    margin-left: 33%;
}

body{
    overflow-x:hidden;
    /*xóa thanh cuộn ngang*/
}
.ndl{
    font-size: 20px;
}
.btn:focus{
    outline: 0;
}
#inputFormula:focus{
    outline: 0;
}
#jk:hover{
    color: #008CBA;
}
#tkl:focus{
    box-shadow: 0 0 0 0.25rem rgb(42 182 228 / 50%);
}
.btn1::-moz-focus-inner {border:0;}
#btn2{
    margin-left: 25%;
}
/* commit */
@media all and (max-width: 700px) {
   
    .dl{
      margin-left: 20%;  
    }
    .btn1{
        margin-left: 20%;
    }
    #btn2{
        margin-left: 20%;
    }
    .cb{
        color: #FFF;
    }


}
 @media all and (min-width: 900px) {
    .navbar-nav {
        margin-left: 20%;
    }
 }
